h2 {
  color: #532c77;
  font-weight: 500;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 450px;
  width: 280px;
  border-radius: 8px;

  margin: 12px;
}

.img-container img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  /* transition: transform 0.2s linear; */
}

/* img:hover {
  transform: scale(1.05);
} */

.img-container {
  overflow: hidden;
}

.price {
  color: #532c77;
  font: 1.3em sans-serif;
  font-weight: 500;
}
